<html>
<head>
  <title>dNinja stencil generator</title>
</head>
<body>
<a href="https://experiment.com/projects/developing-dninja-an-open-source-digital-pcr/" target="_blank">dNinja</a> stencil generator<br>
<a href="https://youtu.be/EZdJz2fQO1Y" target="_blank">How to export gerber from KiCad file</a><br>
<form action="./download" method="get">
  <table border="1">
    <tr>
      <th>Nuber of holes</th>
      <td width="500">
        <input type="number" name="hx" value="5" />
        x
        <input type="number" name="hy" value="5" />
      </td>
      <td>
        At least 20,000 holes are needed for production. 142x142=20164 or more.
      </td>
    </tr>
    <tr>
      <th>Diameter of hole (mil)</th>
      <td>
        <input type="number" name="d" step="0.01" value="100" />
      </td>
      <td>
        1 mil is best for production.
      </td>
    </tr>
    <tr>
      <th>Distance between holes (mil)</th>
      <td>
        <input type="number" name="b" step="0.01" value="150" />
      </td>
      <td>
        Smaller is better. What's your best?
      </td>
    </tr>
    <tr>
      <th>Square hole</th>
      <td>
        <input type="checkbox" name="sq" value="center" checked/>center<br>
        <input type="checkbox" name="sq" value="corner" checked/>corner<br>
        <input type="checkbox" name="sq" value="all" />all
      </td>
      <td>
        Change the shape of the hole from a circle to a square to make it easier to be detected.
      </td>
    </tr>
    <tr>
      <th>Rotate Center Square</th>
      <td>
        <input type="checkbox" name="rc" value="true" checked/>
      </td>
      <td>
        Rotate the center square 45 degrees to distinguish it from the corner squares.
      </td>
    </tr>
    <tr>
      <th>Stencil Dimension (mm)</th>
      <td>
        <input type="number" name="dx" step="0.01" value="50" />
        x
        <input type="number" name="dy" step="0.01" value="50" />
      </td>
      <td>
        Size of stencil.
      </td>
    </tr>
    <tr>
      <th>Output format</th>
      <td>
        <input type="radio" name="format" value="kicad"/> KiCad<br>
        <input type="radio" name="format" value="gerber" checked/> Gerber<br>
&nbsp;
<input type="checkbox" name="layers" value="F.Cu" />F.Cu
<input type="checkbox" name="layers" value="B.Cu" />B.Cu
<input type="checkbox" name="layers" value="B.Adhesive" />B.Adhesive
<input type="checkbox" name="layers" value="F.Adhesive" />F.Adhesive
<input type="checkbox" name="layers" value="B.Paste" />B.Paste
<input type="checkbox" name="layers" value="F.Paste" checked/>F.Paste
<input type="checkbox" name="layers" value="B.Silkscreen" />B.Silkscreen
<input type="checkbox" name="layers" value="F.Silkscreen" />F.Silkscreen
<input type="checkbox" name="layers" value="B.Mask" />B.Mask
<input type="checkbox" name="layers" value="F.Mask" />F.Mask
<input type="checkbox" name="layers" value="User.Drawings" />User.Drawings
<input type="checkbox" name="layers" value="User.Comments" />User.Comments
<input type="checkbox" name="layers" value="User.Eco1" />User.Eco1
<input type="checkbox" name="layers" value="User.Eco2" />User.Eco2
<input type="checkbox" name="layers" value="Edge.Cuts" checked/>Edge.Cuts
<input type="checkbox" name="layers" value="Margin" />Margin
<input type="checkbox" name="layers" value="B.Courtyard" />B.Courtyard
<input type="checkbox" name="layers" value="F.Courtyard" />F.Courtyard
<input type="checkbox" name="layers" value="B.Fab" />B.Fab
<input type="checkbox" name="layers" value="F.Fab" />F.Fab
      </td>
      <td>
        Download KiCad file or gerber directly.
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Generate" />
      </td>
    </tr>
  </table>
</form>
<a href="/images/layout.png" target="_blank"><img src="/images/layout.png" width="500"/></a>
</body>
</html>
